{% extends "pages/base.html" %}

{% block page %}page{% endblock %}

{% block content-heading %}
<h2>About CriticalCodex</h2>
{% endblock %}

{% block content %}
<div class="well well-codex">
    <p class="lead">CriticalCodex is a web-based application designed to enhance your tabletop RPG adventuring and storytelling.</p>



    <h3>Colophon</h3>
    <p>CriticalCodex is written in Python.</p>

    <h3>Team</h3>
    <ul class="media-list">
        <li class="media">
            <div class="media-left">
                <a href="http://underlost.net/">
                    <img class="media-object img-rounded" src="https://secure.gravatar.com/avatar/ddf39b714f62f43094e000cf27120d97?s=32">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Tyler Rilling <a href="http://underlost.net/">(underlost.net)</a></h4>
            </div>
        </li>

        <li class="media">
            <div class="media-left">
                <a href="http://underlost.net/">
                    <img class="media-object img-rounded" src="https://secure.gravatar.com/avatar/a345a477256b8cace5b6afb5203b036b?s=32">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Marie VerMurlen <a href="http://violetco.de/">(violetco.de)</a></h4>
            </div>
        </li>
    </ul>



</div>
{% endblock %}

{% block content-sidebar %}{% endblock %}
